.container {
  width: 100%;
  max-width: 1400px;
  margin: 0 auto;
  padding: 0 2rem;
}
.header {
    position: sticky;
    top: 0;
    z-index: 40;
    width: 100%;
    border-bottom: 1px solid  #e5e7eb;
    background-color:  #ffffff;
  }
  .header-container {
    display: flex;
    height: 4rem;
    align-items: center;
    justify-content: space-between;
  }
    
  .header-actions {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  
  