.herosection {
  width: 100%;
  
  padding: 3rem 0;
  background: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px); /* Specify blur intensity */
  -webkit-backdrop-filter: blur(10px); /* For Safari support */
  }
  
  .herocontent {
    display:inline-flex;
    gap: 1.5rem;
  }
  
  .herotext {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 50px;
  }
  
  .herotitle {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.2;
    letter-spacing: -0.025em;
  }
  
  .herosubtitle {
    color:  #6b7280;
    max-width: 600px;
  }
  
  .herobuttons {
    display:inline-flex ;
    gap: 5rem;
    margin-top: 0.5rem;
    align-self: center;
    
  }
  
  .ctabutton{
    width: 150px;
    height: 40px;
    border: none;
    border-radius: 12px;
    outline: none;
    background-color:inherit;
    font-size: 15px;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    }
    .ctabutton:hover{
      background-color: aliceblue;
        }
  .secondarybutton {
    width: 150px;
    border-radius: 12px;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.20);
    background-color:inherit;
    font-size: 1ppx;
    text-align: center;
    padding: 10px;
    cursor: pointer;
  }
  .secondarybutton:hover{
    background-color:aliceblue;
    
    
  }
  
  .buttonicon {
    margin-left: 0.5rem;
    height: 1rem;
    width: 1rem;
  }
  
  .heroimagecontainer {
    position: relative;
    width: 100%;
    max-width: 500px;
    aspect-ratio: 3 / 2;
    margin: 0 auto;
    border-radius: 0.5rem;
    overflow: hidden;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
  }
  
  .heroimage {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  /* @media (min-width: 640px) {
    .herobuttons {
      flex-direction: row;
    }
  
    .ctabutton,
    .secondarybutton {
      width: auto;
    }
  }

  @media (min-width: 768px) {
    .hero-section {
      padding: 6rem 0;
    }
    .ctasection {
      padding: 6rem 0;
    }
  }

.herotitle {
  font-size: 3rem;
}

.herosubtitle,
.sectionsubtitle,
.ctasubtitle {
  font-size: 1.25rem;
} */