.bg {
    background-image: url("D:\HeartAttackModel\HeartPred\src\public\assets\Healthy_Heart.jpeg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    padding: 0%;
    background-repeat: no-repeat;
    overflow: auto;
    
  }
  